<h1>În curand la cinema:</h1>


<p >
    <h1>Black widow</h1>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/ybji16u608U" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br>
    <b>OVERVIEW</b>: In Marvel Studios’ action-packed spy thriller “Black Widow,” Natasha Romanoff aka Black Widow confronts the darker parts of her ledger when a dangerous conspiracy with ties to her past arises. Pursued by a force that will stop at
    nothing to bring her down, Natasha must deal with her history as a spy and the broken relationships left in her wake long before she became an Avenger.<br>
    <b>DIRECTOR</b>: Cate Shortland<br>
    <b>CAST</b>: Scarlett Johansson, David Harbour, Florence Pugh, O-T Fagbenle, and Rachel Weisz<br>
    <b>RELEASE DATE</b>: November 6, 2020<br>
</p>
<br>
<hr>
<br>

<p>
    <h1>James Bond: No time to die</h1>
<iframe width="560" height="315" src="https://www.youtube.com/embed/fXw6o3n3BVw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br>
<b>OVERVIEW</b>:James Bond has left active service. His peace is short-lived when Felix Leiter, an old friend from the CIA, turns up asking for help, leading Bond onto the trail of a mysterious villain armed with dangerous new technology.
<br>
<b>DIRECTOR</b>: Cary Joji Fukunaga<br>
<b>CAST</b>: Ana de Armas, Daniel Craig, Ralph Fiennes<br>
<b>RELEASE DATE</b>: November 12, 2020<br>
</p>
<br><br><br><br>
